@model FASHIONWS.Models.SanPham

@{
    
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<article class="boxRS">
    <h2 class="border-bottom-DRed"> @ViewBag.Message</h2>

<h3>Bạn có chắc muốn xóa không?</h3>
<fieldset>
    <legend>SanPham</legend>

    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenSanPham)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenSanPham)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DonGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaKM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaKM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nhomsp.TenNhomsp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nhomsp.TenNhomsp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayCapNhat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayCapNhat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgungBan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgungBan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BiDanh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BiDanh)
    </div>

    @using (Html.BeginForm()) {
    <p class="alignR">
        <input type="submit" value="Hủy" />
    </p>
    }

</fieldset>

    @Html.ActionLink("Trở Về", "Index")

</article>